body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Thasadith", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}

.sidebar {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(./sideBar.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 20px 20px #696969;
  color: white;
}

.heading {
  font-size: 300%;
  letter-spacing: 10px;
  border-bottom: 1px solid white;
}

.main-content h1 {
  color: orangered;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  background: transparent !important;
  border: 0px !important;
  border-bottom: 1px solid rgb(202, 202, 202) !important;
  border-radius: 0px !important;
  color: #ffffff !important;
  transition: all 0.4s;
}

input:focus {
  box-shadow: none !important;
  border-bottom: 1px solid #ffffff !important;
}

.search {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

input::placeholder {
  color: rgb(202, 202, 202) !important;
}

.card {
  font-family: sans-serif !important;
  color: black;
  width: 18rem !important;
}
.link {
  text-decoration: none !important;
  color: white !important;
}

body {
  background-image: url(./pic2.png);
  background-position: center;
  background-size: contain;
}

.header {
  background-color: dodgerblue;
  font-family: sans-serif;
}
.stat {
  background-color: #fff;
  font-family: sans-serif;
}

.crickPhoto {
  height: 190px;
  margin-top: 10% !important;
  width: auto;
  border-radius: 50%;
}

.Pcard {
  width: 100% !important;
}

.trans {
  opacity: 0.8;
}

.MainHeading {
  color: white;
  font-size: 300%;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.SecondaryHeading {
  color: white;
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 10px;
}
